###################################################
#  Environment variables required by the backend  #
###################################################

# Port used by the server to listen for requests. Default is 8080.
PORT=

# Database URI used to connect to the database. The database must be MongoDB.
# Example: mongodb://localhost:27017/my-database
DATABASE_URI=

# Hostname of the server. Default is localhost.
# (This is not used)
HOST=

# Secret key used to sign the access token.
# Can be generated using the following command: openssl rand -base64 32
ACCESS_TOKEN_SECRET=

# Secret key used to sign the refresh token.
# Can be generated using the following command: openssl rand -base64 32
REFRESH_TOKEN_SECRET=

# Secret key used to sign the email verification token.
# Can be generated using the following command: openssl rand -base64 32
ACTIVATION_TOKEN_SECRET=

# Secret key used to sign the password reset token.
# Can be generated using the following command: openssl rand -base64 32
PASSWORD_RESET_TOKEN_SECRET=

# SMTP user used to send emails.
SMTP_USER=

# SMTP password used to send emails.
# If you are using Gmail, you need to generate an app password.
SMTP_PASS=

# Email address used to send emails.
MAIL_CONTACT=

# Username of the admin user. (Optional)
ADMIN_USER=

# Password of the admin user. (Optional)
ADMIN_PASSWORD=